
<h1>Eat A Burger!</h1>

<img class="burger-pic" src="./assets/img/burger-pic.png" height="200px">

<div class="burger-div">
  <ul>
    {{#each burgers}}
    <li>{{burger_name}}  <button data-id={{id}}>Devour it</button></li>
    {{/each}}
</ul>  
</div>



<form>
    <input id="burger-input" type="text" name="new-burger">
    <button type="submit">Submit</button>
</form>
