
<h1>Eat A Burger!</h1>

<img class="burger-pic" src="./assets/img/burger-pic.png" height="200px">

<div class="burger-div">
  <h3>Burgers to devour</h3>
  <ul>
    {{#each this.notDevoured}}
    <li>{{burger_name}}  <button class="devour-button" data-id="{{id}}">Devour it</button></li>
    {{/each}}
</ul>  
</div>

<div class="burger-div">
  <h3>Devoured Burgers</h3>
  <ul>
    {{#each this.devoured}}
    <li>{{burger_name}}</li>
    {{/each}}
</ul>  
</div>



<form>
    <input id="burger-input" type="text" name="burgers">
    <button class="submit-button" type="submit">Submit</button>
</form>
